.rounded-button {
    height: 60px;
    width: 300px;
    margin-left: -5px;
    border-radius: 36px;
    border: none;
    background: linear-gradient(to right, #4071b1, #b42828);
    color: rgba(236, 236, 236, 0.685);
    font-size: 17px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.rounded-button:hover{
    background: linear-gradient(to right, #9140b1, #284db4);
    box-shadow: 0 0 5px #0051ff, 0 0 10px #0066ff, 0 0 10px #00ffff, 0 0 20px #0084ff, inset 0 0 10px #0051ff, inset 0 0 10px #0066ff, inset 0 0 10px #0066ff, inset 0 0 10px #0066ff;
}