header {
    text-align: left;
    padding: 20px;
    background-color: #515e8894;
    color: #d6d6d6;
    overflow: hidden;
}

header img {
    float: left;
    margin-right: 10px;
}

footer {
    text-decoration: none;
    color: #d6d6d6;
    padding: 20px;
    text-align: center;
}