.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    text-align: center;
}

.mySlides {
    display: none;
}


.mySlides img {
    width: 50%;
    height: auto;
    cursor: pointer; /* Đổi con trỏ chuột thành dấu nhấp chuột */
}

.mySlides img:hover {
    transform: scale(1.10); /* Phóng to ảnh lên 105% */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Đổ bóng */
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 42px;
    width: auto;
    margin-top: -22px;
    padding: 30px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev {
    left: 0; /* Đặt nút preview ở bên trái */
    border-radius: 3px; /* Loại bỏ bo góc từ phía trái */
    border-radius: 3px 0 0 3px; /* Cập nhật lại bo góc nếu cần */
    right: auto; /* Loại bỏ thuộc tính right */
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* CSS cho lớp overlay */
#overlay {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: auto;
}

#overlay {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: auto;
    cursor: pointer; /* Thêm con trỏ chuột để biểu thị cho việc nhấp chuột */
}

#overlay img {
    display: block;
    margin: auto;
    max-width: auto;
    max-height: auto;
    transition: transform 0.3s ease;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}