table {
    width: 100%; /* Độ rộng của bảng */
    margin: auto; /* Căn giữa bảng */
    border-collapse: collapse;
    margin-bottom: 30px; /* Khoảng cách dưới của bảng */
}

th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #5b65928f;
}

th {
    background-color: #465c7cab;
}

.container.divider table {
    border-collapse: collapse;
    width: 100%;
}